{% extends 'base.html' %}

{% block title %}Delete Transaction{% endblock %}

{% block content %}
    <h2>Delete Transaction</h2>
    <p>Are you sure you want to delete this transaction?</p>
    <button id="delete-transaction-button">Delete</button>

<script>
    const transactionId = window.location.pathname.split('/').filter(Boolean).pop();

    document.getElementById('delete-transaction-button').addEventListener('click', function () {
        fetch(`/api/transactions/${transactionId}/`, {
            method: 'DELETE',
            headers: {
                'Authorization': 'Token ' + localStorage.getItem('token')
            }
        })
        .then(() => {
            window.location.href = '/';  // Перенаправление после удаления
        })
        .catch(error => console.error('Error:', error));  // Обработка ошибок
    });
</script>
{% endblock %}
